---
import Social from '../components/Social.astro'
import LinkedInIcon from '../components/icons/LinkedIn.astro'
import GitHubICon from '../components/icons/GitHub.astro'
import MailIcon from '../components/icons/Mail.astro'
import Badge from '../components/Badge.astro'
---

<div class="max-w-xl">
    <div class="flex gap-4 mb-4">
      <img
        class="rounded-full shadow-lg size-16"
        src="/images/avat1.webp"
        alt='avatar'
      />
      <a
        href="https://www.linkedin.com/in/luciano-arias"
        target="_blank"
        rel="noopener"
        class="flex items-center transition md:justify-center md:hover:scale-105"
      >
        <Badge>Disponible para trabajar</Badge>
      </a>
    </div>
    <h1
      class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
    >
      Hola! Soy Luciano
    </h1>
    <p
      class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
    >
      +1 año de experiencia. <strong
        >Desarrollador de software FullStack</strong
      > de Buenos Aires, Argentina 🏆. Especializado en realizar aplicaciones y soluciones optimas.
    </p>
    <nav class="flex flex-wrap gap-4 mt-8">
        <Social href="https://www.linkedin.com/in/luciano-arias">
            <LinkedInIcon class="size-4" />
            LinkedIn
        </Social>
        <Social href="https://www.github.com/LucianoArias">
            <GitHubICon class="size-4" />
            GitHub
        </Social>
        <Social href="mailto:lucianoarias1997@gmail.com">
          <MailIcon class="size-4" />
          lucianoarias1997@gmail.com
        </Social>
    </nav>
  </div>






<!-- <section class="w-full mx-auto lg:w-[740px] py-44">
    <img class="rounded-full w-[4rem] h-[4rem] mb-6" src="/public/images/avatar.PNG" alt="avatar">
    <h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-4">
        Hola, soy Luciano <a 
            href="https://www.linkedin.com/in/luciano-arias" 
            target="_blank"
            rel="noopener"
            class="flex justify-center items-center"
        >
            <Badge>Disponible para trabajar</Badge>
        </a>
    </h1>
    <h2 class="text-xl lg:text-2xl opacity-80 text-wrap max-w-[700px]">
        <span>+1 año de experiencia.</span> 
        <span class="text-yellow-200/90">Desarrollador de software FullStack.</span> 
        <span class="text-blue-300/90">De Buenos Aires, Argentina 🏆.</span> 
        <span class="opacity-75">Especializado en realizar aplicaciones y soluciones optimas</span>
    </h2>
    <nav class="flex gap-4 mt-8 flex-wrap">
        <Social href="https://www.linkedin.com/in/luciano-arias">
            <LinkedInIcon class="size-4 lg:size-6" />
            LinkedIn
        </Social>
        <Social href="https://www.github.com/LucianoArias">
            <GitHubICon class="size-4 lg:size-6" />
            GitHub
        </Social>
        <Social href="https://www.github.com/LucianoArias">
            <MailIcon class="size-4 lg:size-6" />
            lucianoarias1997@gmail.com
        </Social>
    </nav>
</section> -->